# Copy this file to terraform.tfvars and update values as needed
# cp terraform.tfvars.example terraform.tfvars

aws_region         = "us-east-1"
project_name       = "ws" # William Shakespeare
environment        = "dev"
cluster_name       = "ws-eks"
cluster_version    = "1.27"
vpc_cidr            = "10.0.0.0/16"
node_desired_size   = 2
node_min_size       = 1
node_max_size       = 3
node_instance_type  = "t3.small"
ecr_repo_name       = "lookup"
enable_nat_gateway  = true
single_nat_gateway  = true
